<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moviezone.dao.MovieDao" >
  <resultMap id="movieResultMap" type="com.moviezone.domain.Movie" >
    <id column="movieid" property="movieid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="shortdesc" property="shortdesc" jdbcType="VARCHAR" />
    <result column="longdesc" property="longdesc" jdbcType="VARCHAR" />
    <result column="face650x500" property="face650x500" jdbcType="VARCHAR" />
    <result column="face400x308" property="face400x308" jdbcType="VARCHAR" />
    <result column="face220x169" property="face220x169" jdbcType="VARCHAR" />
    <result column="face150x220" property="face150x220" jdbcType="VARCHAR" />
    <result column="face80x80" property="face80x80" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="FLOAT" />
    <result column="approve" property="approve" jdbcType="BIGINT" />
    <result column="download" property="download" jdbcType="BIGINT" />
    <result column="broswer" property="broswer" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="publishtime" property="publishtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="attachResultMap" type="com.moviezone.domain.Attach" >
    <id column="attachid" property="attachid" jdbcType="BIGINT" />
    <result column="movieid" property="movieid" jdbcType="BIGINT" />
    <result column="new_name" property="new_name" jdbcType="VARCHAR" />
    <result column="old_name" property="old_name" jdbcType="VARCHAR" />
    <result column="attach_url" property="attach_url" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="moduleResultMap" type="com.moviezone.domain.Module" >
    <id column="modmvid" property="modmvid" jdbcType="BIGINT" />
    <result column="movieid" property="movieid" jdbcType="BIGINT" />
    <result column="modname" property="modname" jdbcType="VARCHAR" />
    <result column="orderseq" property="orderseq" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="movieColumns" >
    mv.movieid, mv.name,mv.type,mv.shortdesc,mv.longdesc,mv.face650x500,mv.face400x308,mv.face220x169,mv.face150x220,mv.face80x80,mv.picture,mv.score,mv.approve,mv.download,mv.broswer,mv.createtime,mv.publishtime
  </sql>
  <sql id="selectMovieIFCol">
  	<if test="movieid >0">  and mv.movieid = #{movieid,jdbcType=BIGINT} </if>
    <if test="name != null">  and mv.name = #{name,jdbcType=VARCHAR} </if>
    <if test="type != null">  and mv.type = #{type,jdbcType=VARCHAR} </if>
    <if test="shortdesc != null"> and mv.shortdesc = #{shortdesc,jdbcType=VARCHAR} </if>
    <if test="longdesc != null"> and mv.longdesc = #{longdesc,jdbcType=VARCHAR} </if>
    <if test="face650x500 != null"> and mv.face650x500 = #{face650x500,jdbcType=VARCHAR} </if>
    <if test="face400x308 != null"> and mv.face400x308 = #{face400x308,jdbcType=VARCHAR} </if>
    <if test="face220x169 != null"> and mv.face220x169 = #{face220x169,jdbcType=VARCHAR} </if>
    <if test="face150x220 != null"> and mv.face150x220 = #{face150x220,jdbcType=VARCHAR} </if>
    <if test="face80x80 != null"> and mv.face80x80 = #{face80x80,jdbcType=VARCHAR} </if>
    <if test="picture != null"> and mv.picture = #{picture,jdbcType=VARCHAR} </if>
    <if test="score > 0"> and mv.score = #{score,jdbcType=FLOAT} </if>
    <if test="approve > 0"> and mv.approve = #{approve,jdbcType=INTEGER} </if>
    <if test="download  > 0"> and mv.download = #{download,jdbcType=INTEGER} </if>
    <if test="broswer >0 "> and mv.broswer = #{broswer,jdbcType=INTEGER} </if>
    <if test="createtime != null"> and mv.createtime = #{createtime,jdbcType=TIMESTAMP} </if>
    <if test="publishtime != null"> and mv.publishtime = #{publishtime,jdbcType=TIMESTAMP} </if>
    <if test="isPublish == true">  and mv.publishtime &lt;  sysdate()  </if> 
    <if test="isPublish == false"> and mv.publishtime &gt; sysdate()  </if> 
  </sql>
  
  <select id="selectMovieCount" resultType="map" parameterType="map"  >
    select 'false' as QUERYID, 
    count(mv.movieid) as total
    from movie mv where 1=1 
    <include refid="selectMovieIFCol" />
  </select>
  
  <select id="selectMovie" resultMap="movieResultMap" parameterType="map"  >
    select 'false' as QUERYID, 
    <include refid="movieColumns" /> 
    from movie mv where 1=1 
    <include refid="selectMovieIFCol" />
    limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectFavoriteMovieCount" resultType="map" parameterType="map"  >
    select 'false' as QUERYID, 
    count(mv.movieid) as total
    from favorite f left join movie mv  on f.movieid = mv.movieid where 1=1  
    <if test="movieid >0 "> and f.movieid = #{movieid,jdbcType=BIGINT} </if>
    <if test="userid >0 "> and f.userid = #{userid,jdbcType=BIGINT} </if>
  </select>
  
  <select id="selectFavoriteMovie" resultMap="movieResultMap" parameterType="map"  >
    select 'false' as QUERYID, 
    <include refid="movieColumns" /> 
    from favorite f left join movie mv  on f.movieid = mv.movieid where 1=1 
    <if test="movieid >0 "> and f.movieid = #{movieid,jdbcType=BIGINT} </if>
    <if test="userid >0 "> and f.userid = #{userid,jdbcType=BIGINT} </if>
    order by f.createtime desc
    limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectMovieByModuleCount" resultType="map" parameterType="map"  >
    select 'false' as QUERYID, 
    count(mv.movieid) as total 
    from module_movie mm left join movie mv on mm.movieid = mv.movieid where 1=1 
    <if test="movieid >0">  and mv.movieid = #{movieid,jdbcType=BIGINT} </if>
    <if test="modname != null">  and mm.modname = #{modname,jdbcType=VARCHAR} </if>
    <if test="isPublish == true">  and mv.publishtime &lt;  sysdate()  </if> 
    <if test="isPublish == false"> and mv.publishtime &gt; sysdate()  </if> 
  </select>
  
  <select id="selectMovieByModule" resultMap="movieResultMap" parameterType="map"  >
    select 'false' as QUERYID, 
    <include refid="movieColumns" />,mm.modmvid 
    from module_movie mm left join movie mv on mm.movieid = mv.movieid where 1=1 
    <if test="modmvid > 0">  and mm.modmvid = #{modmvid,jdbcType=BIGINT} </if>
    <if test="modname != null">  and mm.modname = #{modname,jdbcType=VARCHAR} </if>
    <if test="isPublish == true">  and mv.publishtime &lt;  sysdate()  </if> 
    <if test="isPublish == false"> and mv.publishtime &gt; sysdate()  </if> 
    order by QUERYID
    <if test="isSortCreateTimeUp == true">  ,mv.createtime asc </if>
    <if test="isSortCreateTimeUp == false"> ,mv.createtime desc </if>
    <if test="isScoreUp == true">  ,mv.score asc  </if>
    <if test="isScoreUp == false"> ,mv.score desc  </if>
    <if test="isSortCreateTimeUp == null and isScoreUp == null "> ,mm.modname asc,mm.orderseq asc,mm.movieid asc  </if>
    limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectAttach" resultMap="attachResultMap" parameterType="com.moviezone.domain.Attach"  >
    select 'false' as QUERYID, attachid,movieid,new_name,old_name,attach_url,createtime from attachment where movieid = #{movieid,jdbcType=BIGINT}
  </select>
  
  <select id="selectModule" resultMap="moduleResultMap" parameterType="com.moviezone.domain.Module"  >
    select 'false' as QUERYID, modmvid,movieid,modname,orderseq,createtime from module_movie where 1=1 
    <if test="modmvid > 0">  and modmvid = #{modmvid,jdbcType=BIGINT} </if>
    <if test="movieid > 0">  and movieid = #{movieid,jdbcType=BIGINT} </if>
    order by modname asc,orderseq asc,movieid asc
  </select>
  
  <insert id="insertMovie" parameterType="com.moviezone.domain.Movie" >
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="movieid >0" >movieid,</if>
      <if test="name != null" >name,</if>
      <if test="type != null" >type,</if>
      <if test="shortdesc != null" >shortdesc,</if>
      <if test="longdesc != null">longdesc,</if>
      <if test="face650x500 != null" >face650x500,</if>
      <if test="face400x308 != null" >face400x308,</if>
      <if test="face220x169 != null" >face220x169,</if>
      <if test="face150x220 != null" >face150x220,</if>
      <if test="face80x80 != null" >face80x80,</if>
      <if test="picture != null" >picture,</if>
      <if test="score != null" >score,</if>
      <if test="approve != null" >approve,</if>
      <if test="download != null" >download,</if>
      <if test="broswer != null" >broswer,</if>
      <if test="publishtime != null" >publishtime,</if>
      createtime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="movieid >0" >#{movieid,jdbcType=BIGINT},</if>
      <if test="name != null" >#{name,jdbcType=VARCHAR},</if>
      <if test="type != null" >#{type,jdbcType=VARCHAR},</if>
      <if test="shortdesc != null" >#{shortdesc,jdbcType=VARCHAR},</if>
      <if test="longdesc != null">#{longdesc,jdbcType=VARCHAR},</if>
      <if test="face650x500 != null" >#{face650x500,jdbcType=VARCHAR},</if>
      <if test="face400x308 != null" >#{face400x308,jdbcType=VARCHAR},</if>
      <if test="face220x169 != null" >#{face220x169,jdbcType=VARCHAR},</if>
      <if test="face150x220 != null" >#{face150x220,jdbcType=VARCHAR},</if>
      <if test="face80x80 != null" >#{face80x80,jdbcType=VARCHAR},</if>
      <if test="picture != null" >#{picture,jdbcType=VARCHAR},</if>
      <if test="score != null" >#{score,jdbcType=VARCHAR},</if>
      <if test="approve != null" >#{approve,jdbcType=VARCHAR},</if>
      <if test="download != null" >#{download,jdbcType=VARCHAR},</if>
      <if test="broswer != null" >#{broswer,jdbcType=VARCHAR},</if>
      <if test="publishtime != null" >#{publishtime,jdbcType=TIMESTAMP},</if>
      sysdate()
    </trim>
  </insert>
    
  <update id="updateMovie" parameterType="com.moviezone.domain.Movie" >
    update movie
    <set>
      <if test="name != null" >name = #{name,jdbcType=VARCHAR},</if>
      <if test="type != null" >type = #{type,jdbcType=VARCHAR},</if>
      <if test="shortdesc != null" >shortdesc = #{shortdesc,jdbcType=VARCHAR},</if>
      <if test="longdesc != null">longdesc = #{longdesc,jdbcType=VARCHAR},</if>
      <if test="face650x500 != null" >face650x500 = #{face650x500,jdbcType=VARCHAR},</if>
      <if test="face400x308 != null" >face400x308 = #{face400x308,jdbcType=VARCHAR},</if>
      <if test="face220x169 != null" >face220x169 = #{face220x169,jdbcType=VARCHAR},</if>
      <if test="face150x220 != null" >face150x220 = #{face150x220,jdbcType=VARCHAR},</if>
      <if test="face80x80 != null" >face80x80 = #{face80x80,jdbcType=VARCHAR},</if>
      <if test="picture != null" >picture = #{picture,jdbcType=VARCHAR},</if>
      <if test="score != null" >score = #{score,jdbcType=VARCHAR},</if>
      <if test="approve != null" >approve = #{approve,jdbcType=VARCHAR},</if>
      <if test="download != null" >download = #{download,jdbcType=VARCHAR},</if>
      <if test="broswer != null" >broswer = #{broswer,jdbcType=VARCHAR},</if>
      <if test="publishtime != null" >publishtime = #{publishtime,jdbcType=TIMESTAMP},</if>
    </set>
    where movieid = #{movieid,jdbcType=BIGINT}
  </update>
  
  <update id="updateModule" parameterType="com.moviezone.domain.Module" >
    update module_movie
    <set>
      <if test="modname != null" >modname = #{modname,jdbcType=VARCHAR},</if>
      <if test="movieid >0" >movieid = #{movieid,jdbcType=VARCHAR},</if>
      <if test="orderseq >0" >orderseq = #{orderseq,jdbcType=VARCHAR},</if>
    </set>
    where modmvid = #{modmvid,jdbcType=BIGINT}
  </update>
  
  <insert id="insertAttach" parameterType="com.moviezone.domain.Attach" >
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attachid >0" >attachid,</if>
      <if test="movieid >0" >movieid,</if>
      <if test="new_name != null" >new_name,</if>
      <if test="old_name != null" >old_name,</if>
      <if test="attach_url != null" >attach_url,</if>
      createtime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attachid >0" >#{attachid,jdbcType=BIGINT},</if>
      <if test="movieid >0" >#{movieid,jdbcType=BIGINT},</if>
      <if test="new_name != null" >#{new_name,jdbcType=VARCHAR},</if>
      <if test="old_name != null" >#{old_name,jdbcType=VARCHAR},</if>
      <if test="attach_url != null" >#{attach_url,jdbcType=VARCHAR},</if>
      sysdate()
    </trim>
  </insert>
  
  <insert id="insertModule" parameterType="com.moviezone.domain.Module" >
  	<selectKey keyProperty="orderseq"  resultType="int" order="BEFORE">
  		select ifnull(max(orderseq)+1,1) from module_movie where modname = #{modname,jdbcType=VARCHAR}
  	</selectKey>
    insert into module_movie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modmvid >0" >modmvid,</if>
      <if test="movieid >0" >movieid,</if>
      <if test="modname != null" >modname,</if>
      <if test="orderseq != null" >orderseq,</if>
      createtime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modmvid >0" >#{modmvid,jdbcType=BIGINT},</if>
      <if test="movieid >0" >#{movieid,jdbcType=BIGINT},</if>
      <if test="modname != null" >#{modname,jdbcType=VARCHAR},</if>
      <if test="orderseq != null" >#{orderseq,jdbcType=BIGINT},</if>
      sysdate()
    </trim>
  </insert>
  
  <delete id="deleteMovie" parameterType="com.moviezone.domain.Movie" >
    delete from movie where movieid = #{movieid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteAttachByMovieid" parameterType="com.moviezone.domain.Attach" >
    delete from attachment where movieid = #{movieid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteModuleByMovieid" parameterType="com.moviezone.domain.Module" >
    delete from module_movie where movieid = #{movieid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteModuleById" parameterType="com.moviezone.domain.Module" >
    delete from module_movie where modmvid = #{modmvid,jdbcType=BIGINT}
  </delete>
  
  
</mapper>