<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moviezone.dao.SearchDao" >
  <resultMap id="MovieIndexResultMap" type="com.moviezone.domain.MovieIndex" >
    <id column="modmvid" property="modmvid" jdbcType="BIGINT" />
    <result column="modname" property="modname" jdbcType="VARCHAR" />
    <result column="movieid" property="movieid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="shortdesc" property="shortdesc" jdbcType="VARCHAR" />
    <result column="longdesc" property="longdesc" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="WordResultMap" type="com.moviezone.domain.Word" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="UnwordResultMap" type="com.moviezone.domain.Unword" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="HotwordResultMap" type="com.moviezone.domain.Hotword" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  
  <select id="selectMovieIndex" resultMap="MovieIndexResultMap" parameterType="map">
  	select 'false' as QUERYID,max(mm.modmvid) modmvid,mm.modname,mv.movieid,mv.name,mv.shortdesc,mv.longdesc,mv.createtime from (
		select case 
						when modname = '首页-电影-480p'    then '480p'
						when modname = '电影-480p'            then '480p'
						when modname = '首页-电影-720p'    then '720p'
						when modname = '电影-720p'            then '720p'
						when modname = '首页-电影-1080p'  then '1080p'
						when modname = '电影-1080p'          then '1080p'
						when modname = '首页-电影-其它'      then '其它'
						when modname = '电影-其它'              then '其它'
						when modname = '首页-电视剧-英美'   then '英美'
						when modname = '电视剧-英美'           then '英美'
						when modname = '首页-电视剧-日韩'   then '日韩'
						when modname = '电视剧-日韩'           then '日韩'
						when modname = '首页-电视剧-港台'   then '港台'
						when modname = '电视剧-港台'           then '港台'
						when modname = '首页-电视剧-内地'   then '内地'
						when modname = '电视剧-内地'           then '内地'
					 else 
						modname
					 end as modname,
					 modmvid,
					 movieid
		from module_movie 
		where modname != '首页-展示区'
		and    modname != '首页-论播区'
		and    modname != '首页-站长区'
		and    modname != '首页-电影-排行榜'
		and    modname != '首页-电视剧-排行榜'
		and    modname != '电影-展示区'
		and    modname != '电视剧-展示区'
		<if test="movieid >0">  and movieid = #{movieid,jdbcType=BIGINT} </if>
	) mm inner join movie mv on mm.movieid = mv.movieid
	group by mm.modname,mv.movieid,mv.name,mv.shortdesc,mv.longdesc,mv.createtime
	order by modmvid asc
	limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectWordCount" resultType="map" parameterType="map">
  	select 'false' as QUERYID, count(id) as total from search_word
  	where 1=1
  	<if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
  	<if test="keyword != null">  and keyword like #{keyword,jdbcType=VARCHAR} </if>
  </select>
  
  <select id="selectUnwordCount" resultType="map" parameterType="map">
  	select 'false' as QUERYID, count(id) as total from search_unword
  	where 1=1
  	<if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
  	<if test="keyword != null">  and keyword like #{keyword,jdbcType=VARCHAR} </if>
  </select>
  
  <select id="selectHotWordCount" resultType="map" parameterType="map">
  	select 'false' as QUERYID, count(id) as total from search_hot
  	where 1=1
  	<if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
  	<if test="keyword != null">  and keyword like #{keyword,jdbcType=VARCHAR} </if>
  </select>
  
  <select id="selectWord" resultMap="WordResultMap" parameterType="map">
  	select 'false' as QUERYID,id,keyword from search_word
  	where 1=1
  	<if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
  	<if test="keyword != null">  and keyword like #{keyword,jdbcType=VARCHAR} </if>
  	order by keyword,createtime 
  	limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectUnword" resultMap="UnwordResultMap" parameterType="map">
  	select 'false' as QUERYID,id,keyword from search_unword
  	where 1=1
  	<if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
  	<if test="keyword != null">  and keyword like #{keyword,jdbcType=VARCHAR} </if>
  	order by keyword,createtime 
  	limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
 
 <select id="selectHotWord" resultMap="HotwordResultMap" parameterType="map">
  	select 'false' as QUERYID,id,keyword from search_hot
  	where 1=1
  	<if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
  	<if test="keyword != null">  and keyword like #{keyword,jdbcType=VARCHAR} </if>
  	order by  createtime desc 
  	limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
   
  <insert id="insertWord" parameterType="com.moviezone.domain.Word" >
    insert into search_word(id,keyword,createtime) values (null,#{keyword,jdbcType=VARCHAR},sysdate())
  </insert>
  
   <insert id="insertUnWord" parameterType="com.moviezone.domain.Unword" >
    insert into search_unword(id,keyword,createtime) values (null,#{keyword,jdbcType=VARCHAR},sysdate())
  </insert>
  
  <insert id="insertHotWord" parameterType="com.moviezone.domain.Hotword" >
    insert into search_hot(id,keyword,createtime) values (null,#{keyword,jdbcType=VARCHAR},sysdate())
  </insert>
  
  <update id="updateWord" parameterType="com.moviezone.domain.Word">
  	update search_word set keyword = #{keyword,jdbcType=VARCHAR} where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateUnword" parameterType="com.moviezone.domain.Unword">
  	update search_unword set keyword = #{keyword,jdbcType=VARCHAR} where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteWord" parameterType="com.moviezone.domain.Word" >
    delete from search_word where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteUnword" parameterType="com.moviezone.domain.Unword" >
    delete from search_unword where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteHotword" parameterType="com.moviezone.domain.Hotword" >
    delete from search_hot where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <select id="selectSearchMovie" resultMap="com.moviezone.dao.MovieDao.movieResultMap" parameterType="map"  >
    select 'false' as QUERYID, 
    <include refid="com.moviezone.dao.MovieDao.movieColumns" /> 
    from movie mv where mv.movieid in (${movieids})  order by find_in_set(movieid,'${movieids}') limit 0,10000
  </select>
  
  
  
</mapper>