<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moviezone.dao.StatDao" >
  <resultMap id="IpResultMap" type="com.moviezone.domain.IP" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="start_ip" property="start_ip" jdbcType="BIGINT" />
    <result column="end_ip" property="end_ip" jdbcType="BIGINT" />
    <result column="start_ip_str" property="start_ip_str" jdbcType="VARCHAR" />
    <result column="end_ip_str" property="end_ip_str" jdbcType="VARCHAR" />
    <result column="Province" property="Province" jdbcType="VARCHAR" />
    <result column="City" property="City" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="StatResultMap" type="com.moviezone.domain.Stat" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="selectIp" resultMap="IpResultMap" parameterType="map"  >
    select 'false' as QUERYID, id, start_ip,end_ip,start_ip_str,end_ip_str,Province,City from ip where 1=1 
    <if test="id >0">  and id = #{id,jdbcType=BIGINT} </if>
    <if test="start_ip >0">  and start_ip = #{start_ip,jdbcType=BIGINT} </if>
    <if test="end_ip >0">  and end_ip = #{end_ip,jdbcType=BIGINT} </if>
    <if test="start_ip_str != null"> and start_ip_str = #{start_ip_str,jdbcType=VARCHAR} </if>
    <if test="end_ip_str != null"> and end_ip_str = #{end_ip_str,jdbcType=VARCHAR} </if>
    <if test="Province != null"> and Province = #{Province,jdbcType=VARCHAR} </if>
    <if test="City != null"> and City = #{City,jdbcType=VARCHAR} </if>
    <if test="betweenip > 0"> and #{betweenip,jdbcType=BIGINT} between start_ip and end_ip </if>
    limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectModuleIds" resultType="string" >
    select stat_id from modulestat limit 0,10000
  </select>
  
  <select id="selectApproveStat" resultMap="StatResultMap" parameterType="map"  >
    select 'false' as QUERYID, movieid id,name,approve value from movie order by approve desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectDownloadStat" resultMap="StatResultMap" parameterType="map"  >
    select 'false' as QUERYID, movieid id,name,download value from movie order by download desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectBrowserStat" resultMap="StatResultMap" parameterType="map"  >
    select 'false' as QUERYID, movieid id,name,broswer value from movie order by broswer desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectCommentStat" resultMap="StatResultMap" parameterType="map"  >
    select 'false' as QUERYID,mv.movieid id,mv.name,count(mv.movieid) value from movie mv inner join comment cmmt on mv.movieid = cmmt.movieid group by mv.movieid,mv.name order by value desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectModuleStat" resultMap="StatResultMap" parameterType="map"  >
    select 'false' as QUERYID,stat_id id,mod_name name,statCount value from modulestat order by statCount desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectAreaStat" resultMap="StatResultMap" parameterType="map"  >
    select 'false' as QUERYID,'1' id,Province name,sum(statCount) value from ip group by Province order by value desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectCmmtUserStat" resultMap="StatResultMap" parameterType="map"  >
  	select 'false' as QUERYID,u.userid id,u.nickname name,cmmt.value from (
		select userid,count(userid) value from comment
		where 1=1
		<if test="startTime != null"> and createtime &gt;= #{startTime,jdbcType=TIMESTAMP}  </if>
		<if test="endTime != null">  and createtime  &lt;= #{endTime,jdbcType=TIMESTAMP}    </if>
		group by userid order by value desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
	) cmmt inner join user u on cmmt.userid = u.userid 
  </select>
  
  <select id="selectCmmtMvStat" resultMap="StatResultMap" parameterType="map"  >
  	select 'false' as QUERYID,mv.movieid id,mv.name name,cmmt.value from (
		select movieid,count(movieid) value from comment
		where 1=1
		<if test="startTime != null"> and createtime &gt;= #{startTime,jdbcType=TIMESTAMP}  </if>
		<if test="endTime != null">  and createtime  &lt;= #{endTime,jdbcType=TIMESTAMP}    </if>
		group by movieid order by value desc limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
	) cmmt inner join movie mv on cmmt.movieid = mv.movieid 
  </select>
  
  <update id="updateMoviestat" parameterType="com.moviezone.domain.Movie" >
    update movie set movieid = #{movieid,jdbcType=BIGINT}
    <if test="approve >0">,approve = approve + #{approve,jdbcType=BIGINT}</if>
    <if test="broswer >0">,broswer =  broswer + #{broswer,jdbcType=BIGINT}</if>
    <if test="download >0">,download = download + #{download,jdbcType=BIGINT}</if>
    where movieid = #{movieid,jdbcType=BIGINT}
  </update>
  
  <update id="updateModulestat" parameterType="map" >
    update modulestat set statCount = statCount + #{statCount,jdbcType=BIGINT} where stat_id = #{stat_id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateIpstat" parameterType="map" >
    update ip set statCount = statCount + #{statCount,jdbcType=BIGINT} where #{ip,jdbcType=BIGINT} between start_ip and end_ip
  </update>
  
</mapper>