<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!-- dhcp -->
	<bean id="dhcpServlet" class="com.pxe.dhcp.DHCPServlet" />
	<bean id="assignStrategy" class="com.pxe.dhcp.AssignStrategy">
		<property name="pxeService" ref="pxeService" />
	</bean>
	<bean id="dhcpServer" class="com.pxe.dhcp.DHCPServer">
		<constructor-arg index="0" ref="dhcpServlet" />
		<constructor-arg index="1" ref="assignStrategy" />
	</bean>

	<!-- tftp -->
	<bean id="tftpServlet" class="com.pxe.tftp.TFTPServlet" />
	<bean id="tftpServer" class="com.pxe.tftp.TFTPServer">
		<constructor-arg index="0" ref="tftpServlet" />
	</bean>
	 	
	
	
</beans>