<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  					 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <display-name>moviezone</display-name>
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/classes/resource/spring.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.json</url-pattern>
    <url-pattern>/sitemap.xml</url-pattern>
    <url-pattern>/robots.txt</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/resource/log4j.properties</param-value>
  </context-param>
  
  <filter>
    <filter-name>CacheFileFilter</filter-name>
    <filter-class>com.moviezone.filter.CacheFileFilter</filter-class>
    <init-param>
    	<description>to cache the file for rapid response when next request come</description>
    	<param-name>dir</param-name>
    	<param-value>/css,/img,/js,/swf</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CacheFileFilter</filter-name>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/img/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>